.hero {
  display: block;
  box-sizing: border-box;
  height: 600px;
  background-color: #9761FF;
  clip-path: ellipse(87% 100% at 50.74% 0%);
  
  }
  *{
    font-family: 'Syne Mono', monospace;
  
    
  }
  
.example::-webkit-scrollbar {
  display: none;
}


.example {
  -ms-overflow-style: none;  
  scrollbar-width: none;  /* Firefox */
} 
@media only screen and (max-width: 600px) {
  .res {
     right:'50px';
  }
}
 